<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.chalmers.project14.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".Map"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="se.chalmers.project14.activities.CTHMAPS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Options"
            android:label="@string/app_name">
            <intent-filter >
                <action android:name="se.chalmers.project14.activities.Options"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>    
        <activity
            android:name=".Splash"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseLocationActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="se.chalmers.project14.activities.ChooseLocationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--
                meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.chalmers.project14.main.Splash" /
                This is autogenerated code when I created a new activity and choosed a a parent class (hierierchal)
            -->
        </activity>
        <activity
            android:name="se.chalmers.project14.activities.FloorViewer"
            android:configChanges="orientation"
            android:label="@string/title_activity_floor_viewer"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.chalmers.project14.activities.CTHmaps" />
        </activity>
    </application>

</manifest>